ul .alike-films {
  margin: 0;
  padding: 0;
  list-style: none;
}

.alike-films {
  display: flex;
  flex-direction: row;
  gap: 15px;
  border-radius: 15px;
  padding: 8px 15px;
  overflow: scroll;
  background-color: #EDEEF0;
  transform: scale(1);
}

.alike-films-error {
  font-weight: bold;
  font-size: 25px;
}