.page-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.detailed-film-card {
  inline-size: 80%;
  block-size: fit-content;
  margin: 40px;
  border-radius: 20px;
  padding: 50px;
  background-color: white;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
  font-weight: bold;
  font-size: 30px;
}

.film-title-detailed {
  font-size: 50px;
  transition: color 0.4s;
}

.film-title:hover{
  color: orange;
  transition: color 0.4s;
}

.film-title-detailed:hover{
  color: orange;
  transition: color 0.4s;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.film-poster {
  min-inline-size: 300px;
  min-block-size: 500px;
  border-radius: 20px;
  background-color: #EDEEF0;
}

.genres-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  max-inline-size: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.genre-item {
  max-inline-size: fit-content;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  text-transform: capitalize;
}

.genre-item:hover {
  border: 0;
  padding: 6px;
  background-color: orange;
  transition: background-color 0.4s;
}

.to-best-link {
  text-decoration: none;
}

.to-best-button {
  inline-size: 300px;
  border: 1px solid gray;
  border-radius: 7px;
  font-family: inherit;
  font-size: 20px;
  background-color: transparent;
  transition: all 0.3s;
}

.to-best-button:hover {
  color: white;
  background-color: black;

}

.accent-field {
  font-weight: bold;
}

.loading-details {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  block-size: 100vh;
}

